<label class="sr-only">Author name</label>
<input class="form-control" placeholder="Author to Add" id="author" name="name" type="text"><%- author.name %>
                                                   